################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs
/GraphQLWorkshop/.vs/GraphQLWorkshop/v16/Server/sqlite3
